services:
  # 1. Zookeeper (Cho Kafka) - Giữ nguyên
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.2
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # 2. Kafka (Cho Lớp Speed) - Giữ nguyên
  kafka:
    image: confluentinc/cp-kafka:7.3.2
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

  # 3. NameNode (HDFS cho Lớp Batch) - Giữ nguyên
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    ports:
      - "9870:9870"
      - "9000:9000"
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    volumes:
      - hadoop_namenode_data:/hadoop/dfs/name

  # 4. DataNode (HDFS cho Lớp Batch) - Giữ nguyên
  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    depends_on:
      - namenode
    environment:
      - SERVICE_PRECONDITION=namenode:9870
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    volumes:
      - hadoop_datanode_data:/hadoop/dfs/data
  cassandra:
    image: cassandra:latest
    container_name: cassandra
    ports:
      - "9042:9042" # Cổng API/Driver
    volumes:
      - cassandra_data:/var/lib/cassandra

  app:
    build: .
    container_name: app
    volumes:
      - .:/app
    ports:
      - "5000:5000"
      - "4040:4040"
    depends_on:
      - kafka
      - cassandra
      - datanode

    # === THÊM 3 DÒNG NÀY VÀO ===
    environment:
      - PYTHONPATH=/app/src
    # ============================

    command: >
      sh -c "python src/webapp/app.py"

volumes:
  hadoop_namenode_data:
  hadoop_datanode_data:
  cassandra_data:
